@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url("/images/taxi.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<body>

<div style="color:aliceblue">

        <h1 style="color:antiquewhite;font-family:'Times New Roman', Times, serif;margin-left:150px;margin-top:60px">Take a ride with us to experience the difference!</h1>
   @* <h2 style="color:white;margin-top:310px;margin-left:200px"></h2>*@
   @* <h6 style="color:white;font:200;font-family:">Take a ride with us to experience the difference</h6>*@
    
</div>
</body>